<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application',
'https://fonts.googleapis.com/css?family=Bungee+Hairline|Raleway',
 media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="background-img">


      <div class="container <%= @container %>">
        <nav>
          <%= link_to 'TIL', root_path %>&middot;
          <%= link_to 'About', about_path %>&middot;
          <% if user_signed_in? %>
              Hello <%= current_user.first_name %>,
              <%= link_to "Logout", sessions_path, method: :delete %>
            <% else %>
              <%= link_to "Login", new_session_path %>&middot;
              <%= link_to "Sign Up", new_user_path %>
            <% end %>
        </nav>
        <%= yield %>
      </div>
    </div>
  </body>
</html>

